# Compiler files
cache/
out/

# Ignore all broadcast logs and folders
broadcast/

# Docs
docs/

# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local